@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
$bg-images: "https://images.unsplash.com/photo-1605020420620-20c943cc4669?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Z3VpdGFyfGVufDB8fDB8fA%3D%3D&w=1000&q=80";
$font-Sedgwick: "Sedgwick Ave", cursive;

@mixin border-transparents {
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-bottom: 1px solid olive;
}
* {
  margin: 0;
  padding: 0;
}

#headerLyrics {
  background-image: url($bg-images);
  width: 99.7vw;
  height: 27vh;

  h1 {
    color: white;
    font-family: $font-Sedgwick;
    margin-left: 100vh;
  }
  #searchings {
    background-color: #e271fd;
    color: white;
    margin: 10vh -97vh;
    // position: absolute;
    font-weight: 666;
    border-radius: 4vh;
    width: 9vw;
    height: 6vh;
  }
  input {
    margin: 10vh 75vh;
    border: hidden;
    border-radius: 3vh;
    text-align: center;
    width: 32vw;
    height: 7vh;
    outline: hidden;
    box-sizing: border-box;
  }
}

// -------------------
#resultsShow {
  display: flex;
  flex: 1;
  margin: 1vh 27vh;
  justify-content: space-between;
  width: 70%;

  .lyricsName {
    color: black;
    font-weight: bold;
  }
  #lyricsInfo {
    color: black;
    margin-left: 22vh;
  }

  #lyricsDetails {
    @include border-transparents;
    // margin-right: 12vh
    background-color: #8f67fd;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 2vh;
    width: 18vh;

    height: 7vh;
    &:hover {
      color: black;
      background-color: thistle;
      font-weight: 999;
    }
  }
}
.lyricsSearchings {
  width: 69vh;
}
.audioLyrics {
  width: 10vh;
  margin-right: 42vh;
}
#LyricsReader {
  z-index: 1;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3vh;
  width: 100vh;
  margin: 10vh 63vh;
  border: 1px solid black;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
